.main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #fff;
    padding: 12px 0;

    .main-nav-holder {
        @include flexbox;
        justify-content: space-between;
    }

    .brand {
        height: 50px;
        display: inline-block;

        img {
            height:100%;
        }
    }

    %mobile-controls {
        font-size: 28px;
        line-height: 50px;
        cursor: pointer;
    }

    .mobile-hamburger {
        @extend %mobile-controls;
        color: $primary-color;

    }

    .mobile-close {
        @extend %mobile-controls;
        color: #fff;
        text-align: right;
        height: 50px;
    }

    .open-menu-holder {
        position: fixed;
        background-color: $primary-color;
        top: 0;
        right:0;
        max-width: 480px;
        text-align: right;
        display: none;
        padding: 12px 23px;

        &.open {
            display: block;
        }

        .menu {
            list-style: none;

            .menu-item {
                font-size: 50px;
                text-overflow: uppercase;
                padding: 20px 0;

                a {
                    color:  #fff;
                }
            }
        }
    }

    @media all and (min-width: $large){

        .main-nav-holder {
            justify-content: flex-start;
        }

        .brand {
            height: 80px;
        }

        %mobile-conrols {
            display: none;
        }

        .open-menu-holder {
            display: block;
            position: static;
            background-color: transparent;
            width: auto;
            max-width: 100%;
            padding: 0;
            align-self: flex-start;

            .menu {
                background-color: #fff;

                .menu-item {
                    display: inline-block;
                    margin: 0 20px;
                    font-size: initial;

                    a {
                        color: $secondary-color;
                        text-decoration: none;
                        font-weight: 700;
                    }
                }
            }
        }
        
    }

}
// z-index is stack order, An element with greater stack order is always in front of an element with a lower stack order. position:fixed so it does not move as the page scrolls.

