.box {
    height: 150px;
    width: 150px;
    background-color: blueviolet;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
    transition-duration: 2s;
    transition-delay: 0,5;
}

.first:hover {
    width: 300px;
}

.second:hover {
    height: 300px;
}

.third:hover {
    width: 300px;
    height: 300px;
}
