form {
    background-color: #213b50;
    color: white;
    padding: 20px;
}

input:focus,
textarea:focus,
select:focus {
    background-color: #4e708c;
}
input,
textarea,
select {
    background-color: #2b4a64;
    width: 50%;
    margin-bottom: 10px;
    border: 1px solid #2b4a64;
    padding: 5px;
    color: white;
}
input[type="submit"]{
    background-color: #1ac056;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    width: auto;
    padding: 10px 20px;
}
input[type~="submit"]:hover {
    background-color: #46e881;
}
form label {
    display:block;
    margin-bottom: 2px;
}
.wybor {
    display:inline;
}

input[type="checkbox"],
input[type="radio"] {
    width: 1em;
}
