.countdown {
    background-color: black;
    color: white;
    height: 500px;
    width: 700px;
    position: relative; 
}

.number,
.text {
    opacity: 0;
    animation: countdown 1s linear; 
    font-size: 5em;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 700px;
    color: white;
    text-decoration: solid; 

}

@keyframes countdown {
    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}


.number:nth-of-type(2) {
    animation-delay: 1s;
}

.number:nth-of-type(3) {
    animation-delay: 2s;
}

.number:nth-of-type(4) {
    animation-delay: 3s;
}

.number:nth-of-type(5) {
    animation-delay: 4s;
}

.number:nth-of-type(6) {
    animation-delay: 5s;
}

.number:nth-of-type(7) {
    animation-delay: 6s;
}

.number:nth-of-type(8) {
    animation-delay: 7s;
}

.number:nth-of-type(9) {
    animation-delay: 8s;
}
.number:nth-of-type(10) {
    animation-delay: 9s;
}

.text {
    animation-delay: 10s;
}




